body{
	background-color:#d0d0d0;
	text-align:center;
}
#topTitle{
	height:200px;
	width:1168px;
	text-align:center;
	margin:auto;
	margin-bottom:80px;
}
#map{
	width:900px;
	height:450px;
	display:inline-block;
}
#mapSpace{
	width:100%;
	height:calc(100% - 30px);
	padding-bottom:15px;
}
#rightInfo{
	padding:8px;
	width:250px;
	height:449px;
	display:inline-block;
	vertical-align:top;
	text-align:left;
	font-size:16px;
}
#genderPie,#boroughPie{

	padding-left:65px;
	
}
#genderPie{
	margin-bottom:11px;
}
#active{
	width:48px;
	text-align:left;
	font-weight:700;
	font-size:18px;
}
#total{
	font-weight:700;
	font-size:18px;
}
.activeR{
	vertical-align:middle;
}
#active,#total{
	display:inline-block;
}
#mins{
	margin-top:14px;
	display:inline-block;
	vertical-align:middle;
}
#minsSpent,#yearsOld{
	display:inline-block;
	font-weight:700;
	font-size:18px;
}
#years{
	vertical-align:middle;
	margin-top:26px;
	margin-bottom:18px;
	display:inline-block;
}
#manTo,#menTo,#womenTo,#brookTo{
	font-weight:700;
	font-size:18px;
}
#manTo,#brookTo{
	display:inline-block;
}
#genderRatio,#boroughRatio{
	vertical-align:middle;
	display:block;
	margin-top:8px;
	margin-bottom:13px;
}

#menTo,#womenTo{
	display:inline-block;
}

#checkFilters{
	display: inline-block;
	vertical-align:top;
	line-height:20px;
	padding-left:20px;
	font-size:12px;
}

#interactive{
	margin:auto;
}

#interactiveBottom{
	margin:auto;
	margin-top:5px;
	display: inline-block;
	vertical-align:top;
	padding:8px;
	width:970px;
}
#interactiveBottomR{

	margin-top:5px;
	width:180px;
	display: inline-block;
	vertical-align:top;
}
#hour-chart{
	display:inline-block;
	width:885px;
}

#topCharts{
	margin:auto;
	
	text-align:center!important;
}
#bottomCharts{
	
	text-align:center!important;
}

.pagetitle{
	font-size:40px;
}
.title{
	height:24px;
	font-size:18px;
	vertical-align:top;
	display:inline-block;
}
.resettitle{
	vertical-align:top;
	display:inline-block;
	width:60px;
	height:24px;
	
	font-size:18px;
}
.filterTitle{
	margin-bottom:8px;
}
.filterImg{
	height:20px;
	width:20px;
}
.reset{
      display: inline-block;
      position: relative;
      width: 50px;
      margin-top:2px;
      vertical-align:top;
      height: 16px;
      line-height: 16px;
      border-radius: 2px;
      font-size: 0.7em;
      text-align:center;
      background-color: #F2B50F;
      color: #fff;
      box-shadow: 0 1.5px .5px 0 rgba(0, 0, 0, 0.15);
}
svg {
  font: 10px Open Sans;
}

.background.bar {
  fill: #ccc;
}
.foreground.bar {
  fill: #1529a3;
}
.foreground.bar.duration{
	stroke:#fff;
  stroke-width:1;
  fill: #1529a3;
}
.foreground.bar.age{
  stroke:#fff;
  stroke-width:1;
  
  fill: #a33239;
}
.foreground.bar.z2 {
  fill: #a33239;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis text {
  font: 10px Open Sans;
}
.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}
.brush .resize path {
  fill: #eee;
  stroke: #666;
}

.active {
  fill: lightgrey;
}

.brush .extent {
  fill: steelblue;
  fill-opacity: .125;
}


#charts {
  padding: 10px 0;
}
.chartB{
	padding-top:20px;
}
.chart {
	vertical-align:top;
  display: inline-block;
  margin-bottom: 8px;
}
.cChart{
	display:inline-block;
	text-align:center;
	margin-right:20px;
	width:230px;
}




.checkbox {
  position: relative;
  vertical-align: -2.5px;
  top: -0.375rem;
  margin-left:10px;
  margin-right:16px;
  margin-bottom:5px;
  cursor: pointer;
}
.checkbox:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  border: 2px solid #f2f2f2;
}
.checkbox:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: .5rem;
  border-color: #009688;
  border-top-style: none;
  border-right-style: none;
}
.checkbox:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1.1rem;
  height: 1.1rem;
  background: #fff;
  cursor: pointer;
}

div.card {
	background: #fff;
	position: relative;
	text-align:left;
	padding-left: 15px;
	padding-top:15px;
	padding-right:15px;
	box-shadow: 0px 2.5px rgba( 0, 0, 0, 0.1 );
	font-family: Open Sans;
	color: #444;
	font-size: 14px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	}







svg {
        position: relative;
    }
.lineConnect {

	stroke-width: 4px;
    fill: none;
    stroke: #3e5d9f;
    opacity: .2;
}
